div {
position: absolute;
left: 50%;
transform: translateX(-50%);
max-width: 37em;
}

body {
 background: black;
 color: ghostwhite;
 font-family: "Monospace";
}

pre {
 color: palegoldenrod;
 margin-top: 1.5em;
 margin-bottom: 1.5em;
}

h1, h2, h3 {
 font-size: 100%;
 margin-bottom: -0.8em;
}

h1 {
 color: red;
}

h2 {
 color: lime;
}

h3 {
 color: magenta;
}

:root {
 counter-reset: link 1;
}

a[href] {
  counter-increment: link;
}

ol {
 list-style-type: none;
 margin-left: -2.5em;
}

ol > li:before {
 content: "[" counter(link, decimal) "]";
 margin-right: 0.6em;
 font-weight: bold;
 color: darkgrey;
}

ul {
 list-style-type: disc;
 margin-left: -1em;
 margin-top: -0.8em;
}

ul > li:before {
 content: "";
 margin-right: 1.5em;
}

.gmi {
 text-decoration: none;
 color: dodgerblue;
}

.gmi:hover {
 color: black;
 background: dodgerblue;
}

.gmi:focus {
 color: black;
 background: dodgerblue;
}

.htm {
 text-decoration: none;
 color: darkviolet;
}

.htm:hover {
 color: black;
 background: darkviolet;
}

.htm:focus {
 color: black;
 background: darkviolet;
}
